/* Write your CSS here */
.moneyDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  background-color: #ecfccb;
  padding: 15px;
  border-radius: 15px;
  width: 300px;
}
.image {
  width: 100px;
  margin-right: 15px;
}
.moneyDetails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
